body{
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
}
.max-width{
    width: 90%;
    margin: 0 auto;
}
.container{
    display: flex;
    margin: 50px 0;
   

}
.half-width{
    width: 50%;
    padding-left:2%;
}
p{
    color: rgb(75, 80, 77);
    margin: 20px 0px;
}
.explore-img img{
    width: 60%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10% 0;
}
.header-area{
    font-size: 35px;
    border-image: linear-gradient(red,pink);
    border-image-slice: 1;
    border-left: 7px solid;
    padding-left: 15px;
    border-radius: 100px;
}
.color-header{
    color: rgba(46, 46, 148, 0.781);
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(red,pink);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;

}
.my-mission-area h1{
    text-align: center;
    font-size: 35px;
}
.mission img{
    width: 25%;
}
.mission{
    width: 33%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 20px 20px;
    border-radius: 25px;

}
.mission-one-color{
    background-color: rgb(194, 181, 181);
}
.mission-two-color{
    background-color: rgb(141, 148, 141)
}
.mission-three-color{
    background-color: rgb(166, 166, 173);
}
.develop-image img{
    width: 70%;
    margin: 25px 25px;

}

.single-width{
    width: 40%;
}
.double-width{
    width: 60%;
}
.margin-bottom{
    margin-bottom: 30px;
}
.develop-area{
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: 100px; ;
}
.comunity-area{
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position:100% 110%;
    background-size: 200px;

}
.footer-area{
    background-color: black;
    text-align: center;
    padding: 20px 0px;
    
}
.footer-area h1{
    color: white;
}

.contact-area h1{
    text-align: center;
    font-size: 35px;
}
.submit input{
    display: block;
    margin:35px 0;
    background-color: rgb(167, 156, 154);
    padding: 15px;
    border-radius: 10px;
}