body{
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
    width: 90%;
    margin: auto;
}
.container{
    display: flex;
    margin: 50px 0;
    

}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.about-explore p{
    color: mediumseagreen;
    margin: 20px 0px;
}
.explore-img img{
    width: 70%;  
}
.header-area{
    font-size: 35px;
    border-left: 5px solid red;
    padding:0 15px;
    border-radius: 5px;
}
.color-header{
    color: rgba(46, 46, 148, 0.781);
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(red,pink);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;

}
.my-mission-area h1{
    text-align: center;
    font-size: 35px;
}
.mission img{
    width: 25%;
}
.mission{
    width: 33%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 20px 20px;
    border-radius: 25px;

}
.mission-one-color{
    background-color: rgb(194, 181, 181);
}
.mission-two-color{
    background-color: rgb(141, 148, 141)
}
.mission-three-color{
    background-color: rgb(166, 166, 173);
}